.page-header {
    background-color: #18558A;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}

.page-header h2, .page-header h2 a, .page-header h2 a:visited, .page-header h2 a:active {
    color: #ffffff;
    font-size: 20pt;
    text-decoration: none;
    padding: 20px 20px 20px 40px;
}

h1, h2, h3, h4 {
    font-family: 'Playfair Display';
}

.item {
    margin-left: 40px;
}

.card {
    margin-bottom: 70px;
    margin-left: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
}

.card h2 a, .card h2 a:visited {
    color: #000000;
}

.price {
    color: #18558A;
    font-weight: bold;
}

* {
  box-sizing: border-box;
}


/* Float three columns side by side */
.column {
  float: left;
  width: 33%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding in columns */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 16px;
  text-align: center;
  background-color: #f6fafd;
}

/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

.order-summary {
    margin-left: 40px;
    margin-right: auto;
}