{% load static %}
<html>
    <head>
        <title>Fitty Clothing</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap" rel="stylesheet" type='text/css'>
        <link rel="stylesheet" href="{% static 'css/shop.css' %}">
    </head>

    

    <body>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        
        <div class="page-header">
            <h1 style = "display:inline;"><a href="/">Fitty Clothing</a></h1>
            <h2 style="float: right" style = "display:inline;"><a href="/order_summary">Cart</a></h2>
        </div>

        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                {% block content %}
                {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>