{% extends 'shop/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
{% load static %}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Django + Stripe Checkout</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css">
    <script src="https://js.stripe.com/v3/"></script>  <!-- new -->
    <script src="{% static 'main.js' %}"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>
<body >
    <div style="margin-left:3%; margin-top:2%; border: solid;">
        <h2>Confirm shipping address</h2>
        <h2>user: {{ order.shipping_address.user }}</h2>
        <h2>name: {{ order.shipping_address.first_name }} {{ order.shipping_address.last_name }}</h2>
        <h2>street: {{ order.shipping_address.street_address }}</h2>
        {% if order.shipping_address.apartment %}
            <h2>appartment: {{ order.shipping_address.apartment_address }}</h2>
        {% endif %}
        <h2>city: {{ order.shipping_address.city }}</h2>
        <h2>zip: {{ order.shipping_address.zipcode }}</h2>
        <h2>phone: {{ order.shipping_address.phone }}</h2>
        <h2>email: {{ order.shipping_address.email }}</h2>

        <h2 style="margin-top:20px; border: solid 1px">Shipping method: UPS Ground</h2>
    </div>
    
        
    <section class="section">
        <div class="container">
            <button class="button is-primary" id="submitBtn">Continue to payment</button>
        </div>
    </section>
</body>

{% endblock %}